/* For general styling */
.button {
  font-family: Moon-light;
  -webkit-transition: ease-out 1s;
  -o-transition: ease-out 1s;
  transition: ease-out 1s;
  background: white;
  border-radius: 2vw;
  -webkit-box-shadow: 0px 10px 40px rgba(0,0,0,0.18);
          box-shadow: 0px 10px 40px rgba(0,0,0,0.18);
  width: 100%;
  font-size: 1vw;
}
.button:hover {
  cursor: pointer;
}


/* For /bio */

.redirect {
  background: #6b98a1 !important;
  color: white;
  border: none;
  padding: 1.5vw 0.5vw 1.25vw 0.5vw;
  width: auto;
  font-size: 1.5vw;
}
.redirect:hover {
  -webkit-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  background: hsla(192, 22%, 33%, 0.1) !important;
  border: solid 1px white;
  -webkit-box-shadow: inset 0 2px 6px 0 #c5c5c5;
          box-shadow: inset 0 2px 6px 0 #c5c5c5;
  
}
.redirect:active {
  -webkit-transition: ease-in-out 250ms;
  -o-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.socialMediaLink {
  background: transparent !important;
}

/* For ./contact */

.send {
  -webkit-animation: shrinkButtonText 500ms;
          animation: shrinkButtonText 500ms;
  background: #262C2C;
  color: white;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  height: 8vh;
}
.send:hover {
  -webkit-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  -webkit-box-shadow: 0 12px 18px 0 black;
          box-shadow: 0 12px 18px 0 black;
  color: black;
  background-color: #c5c5c5;
  -webkit-animation: enlargeButtonText 2s linear forwards;
          animation: enlargeButtonText 2s linear forwards; 
}
.send:active {
  -webkit-transition: ease-in 150ms;
  -o-transition: ease-in 150ms;
  transition: ease-in 150ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white
}

/* For ./projects */

.sourceCode {
  background: transparent;
  border: solid 1px white;
  padding-top: 0.25vw;
  height: 4vw;
  outline: none;
}
.sourceCode:hover {
  -webkit-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  background:#658A97;
  border: none;
}
.sourceCode:active {
  -webkit-transition: ease-in 150ms;
  -o-transition: ease-in 150ms;
  transition: ease-in 150ms;
  -webkit-box-shadow: 0 2px 8px 0 #c5c5c5;
          box-shadow: 0 2px 8px 0 #c5c5c5;
  color: white; 
  background: transparent !important;
}

.projectLinkButton {
  background-color: transparent !important;
  border: solid 1px white;
  border-radius: 2vw;
  font-size: 1vw;
  margin: 2vh auto 2vh;
  padding: 0.75vw 1vw;
}
.projectLinkButton:hover {
  -webkit-transition: ease-in-out 250ms;
  -o-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
  background: white !important;
  color: black;
  -webkit-box-shadow: inset 0 2px 6px 0;
          box-shadow: inset 0 2px 6px 0;
  border: none;
}
.projectLinkButton:active {
  -webkit-transition: ease-in 150ms;
  -o-transition: ease-in 150ms;
  transition: ease-in 150ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white; 
  background: transparent !important;
}


.formAdvance {
  color: black;
  font-size: 3vw;
}
.formAdvance:hover {
  -webkit-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  color: white;
  background: transparent !important;
  
}

.advance {
  background: #262C2C;
  color: white;
  font-size: 2vw;
  padding: 1vw;
  margin: 0 auto;
}
.advance:hover {
background: transparent !important;
-webkit-transition: ease-in-out 500ms;
-o-transition: ease-in-out 500ms;
transition: ease-in-out 500ms;
-webkit-box-shadow: 0 12px 18px 0 black;
        box-shadow: 0 12px 18px 0 black;
border: solid 1px white;
-webkit-animation: enlargeButtonText 2s linear forwards;
        animation: enlargeButtonText 2s linear forwards;
}
.advance:active {
  -webkit-transition: ease-in 150ms;
  -o-transition: ease-in 150ms;
  transition: ease-in 150ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.goBack {
  margin: 0 2vw;
  background: transparent !important;
  color: #45d3ce;
  border: 1px solid #45d3ce;
  font-size: 1.75vw;
  letter-spacing: 0.5vw;
}
.goBack:hover{ 
  -webkit-transition: ease-in-out 500ms; 
  -o-transition: ease-in-out 500ms; 
  transition: ease-in-out 500ms;
  -webkit-box-shadow: 0 12px 18px 0 black;
          box-shadow: 0 12px 18px 0 black;
  color: black;
  background-color: #c5c5c5;
  -webkit-animation: goBackButtonShrink 2s linear forwards;
          animation: goBackButtonShrink 2s linear forwards; 
}
.goBack:active {
  -webkit-transition: ease-in 150ms;
  -o-transition: ease-in 150ms;
  transition: ease-in 150ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white
}

.messageSentButton {
  color: black;
  -webkit-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  padding: 1.5vw;
  background: hsla(0, 0%, 100%, 0.18);
  border: none; 
}
.messageSentButton:hover {
  -webkit-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  border: 1px solid white;
  color: white;
  background: transparent;
  -webkit-box-shadow: inset 0 2px 6px white;
          box-shadow: inset 0 2px 6px white;
}
.messageSentButton:active {
  -webkit-transition: ease-in-out 150ms;
  -o-transition: ease-in-out 150ms;
  transition: ease-in-out 150ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .1;
}


.closeSidebarButton {
  border: solid 1px white;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  padding-top: .25vw;
  margin-left: 1vw;
  background: transparent;
  text-align: left;
  position: relative;
  z-index: 1000;
  font-size: 1.25vw;
  font-weight: bold;
}
.closeSidebarButton:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0 2px 6px white;
          box-shadow: inset 0 2px 6px white;
}
.closeSidebarButton:active {
  -webkit-transition: ease-in 250ms;
  -o-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-box-shadow: inset 0px 10px 40px rgba(0,0,0,0.8);
          box-shadow: inset 0px 10px 40px rgba(0,0,0,0.8);
}

.mobileCloseSidebarButton {
  width: 55vw;
  margin: 0 auto;
  padding: 2vh 3vw;
  background: transparent;
  font-size: 3vw;
}