/* COMPONENTS WITH ANIMATIONS IN THIS FILE
   - App
   - Sidebar
   - About
   - Button
   - LanguageIcons
   - Home
*/

/* ANIMATIONS ON THE APP COMPONENT */
@-webkit-keyframes show-sidebar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-sidebar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes shrink-views {
  from {
    margin: 0;
    width: 100%;
  }
  to {
    margin: 0 5% 0 25%;
    width: 75%;
  }
}

@keyframes shrink-views {
  from {
    margin: 0;
    width: 100%;
  }
  to {
    margin: 0 5% 0 25%;
    width: 75%;
  }
}
@-webkit-keyframes enlarge-views {
  from {
    margin: 0 5% 0 25%;
    width: 75%;
  }
  to {
    margin: 0;
    width: 100%;
  }
}
@keyframes enlarge-views {
  from {
    margin: 0 5% 0 25%;
    width: 75%;
  }
  to {
    margin: 0;
    width: 100%;
  }
}

/* ANIMATIONS ON THE SIDEBAR COMPONENT */

@-webkit-keyframes enlarge {
  from {
    font-size: 3vw;
    letter-spacing: 0;
  }
  to {
    font-size: 2.5vw;
    letter-spacing:0.4vw;
    color: #fff;
  }
}

@keyframes enlarge {
  from {
    font-size: 3vw;
    letter-spacing: 0;
    font-weight: normal;
  }
  to {
    font-size: 3.5vw;
    letter-spacing:0.4vw;
    color: #fff;
    font-weight: bold;
  }
}
@-webkit-keyframes shrink {
  from {
    font-size:3.5vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
  }
  to {
    font-size: 3vw;
    letter-spacing: 0;
    font-weight: normal;
  }
}
@keyframes shrink {
  from {
    font-size:3.5vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
  }
  to {
    font-size: 3vw;
    letter-spacing: 0;
    font-weight: normal;
  }
}


/* ANIMATIONS ON THE ABOUT PAGE */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    font-size: 2vw;
    color: #c5c5c5;
  }
  to {
    opacity: 1;
    font-size: 3.25vw;
    color: #fff
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-size: 2vw;
    color: #c5c5c5;
  }
  to {
    opacity: 1;
    font-size: 3.25vw;
    color: #fff
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    font-size: 3.25vw;
    color: #fff;
  }
  to {
   opacity: 0;
   font-size: 2vw;
   color: #c5c5c5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    font-size: 3.25vw;
    color: #fff;
  }
  to {
   opacity: 0;
   font-size: 2vw;
   color: #c5c5c5;
  }
}

@-webkit-keyframes showCity {
  from {
    background-image: null
  }
  to {
    background: url('../assets/images/JPEG/portland.png');
    background-position: 90% 90%;
    background-size: cover;
    -webkit-background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
}

@keyframes showCity {
  from {
    
  }
  to {
    -webkit-text-fill-color: transparent;
    background-image: url('../assets/images/JPEG/portland.png');
    background-position: 90% 90%;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
@-webkit-keyframes hideCity {
  from {
    -webkit-text-fill-color: transparent;
    background-image: url('../assets/images/JPEG/portland.png');
    background-position: 90% 90%;
    background-size: cover;
    -webkit-background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
  }
  to {
    
  }
}
@keyframes hideCity {
  from {
    -webkit-text-fill-color: transparent;
    background-image: url('../assets/images/JPEG/portland.png');
    background-position: 90% 90%;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
  }
  to {
   
  }
}

/* BUTTON COMPONENT ANIMATION */


@-webkit-keyframes enlargeButtonText {
  from {
    font-size: 2vw;
    letter-spacing: 0.5vw;
  }
  to {
    font-size: 2.5vw;
    letter-spacing: 1vw;
  }
}


@keyframes enlargeButtonText {
  from {
    font-size: 2vw;
    letter-spacing: 0.5vw;
  }
  to {
    font-size: 2.5vw;
    letter-spacing: 1vw;
  }
}

@-webkit-keyframes shrinkButtonText {
  from {
    font-size: 2.5vw;
    letter-spacing: 1vw;
  }
  to {
    font-size: 2vw;
    letter-spacing: 0.5vw;
  }
}

@keyframes shrinkButtonText {
  from {
    font-size: 2.5vw;
    letter-spacing: 1vw;
  }
  to {
    font-size: 2vw;
    letter-spacing: 0.5vw;
  }
}

@-webkit-keyframes goBackButtonShrink {
  from {
    font-size: 1.75vw;
    letter-spacing: 0.5vw;
  }
  to {
    font-size: 1.25vw;
    letter-spacing: 0vw;
  }
}

@keyframes goBackButtonShrink {
  from {
    font-size: 1.75vw;
    letter-spacing: 0.5vw;
  }
  to {
    font-size: 1.25vw;
    letter-spacing: 0vw;
  }
}



/* LANGUAGEICON COMPONENT ANIMATIONS */

@-webkit-keyframes pulse {
  0% {
    width: 4vw;
  }
  50% {
    width: 4.5vw;
  }
  100%{
    width: 4vw;
  }
}

@keyframes pulse {
  0% {
    width: 4vw;
  }
  50% {
    width: 4.5vw;
  }
  100%{
    width: 4vw;
  }
}

/* ANIMATIONS ON THE CONTACT COMPONENT */

@-webkit-keyframes hideArrows {
  0% {
    opacity: 1;
  }
 100%  {
    opacity: 0;
  }
}

@keyframes hideArrows {
  0% {
    opacity: 1;
  }
 100%  {
    opacity: 0;
  }
}

@-webkit-keyframes showForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* HOME COMPONENT ANIMATIONS */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #c5c5c5, 0 0 2px #c5c5c5, 0 0 3px #fff, 0 0 3.5px #fff
  }
  to {
    text-shadow: 0 0 3.5px #fff, 0 0 3px #ff4da6, 0 0 2px white, 0 0 1px white,
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #c5c5c5, 0 0 2px #c5c5c5, 0 0 3px #fff, 0 0 3.5px #fff
  }
  to {
    text-shadow: 0 0 3.5px #fff, 0 0 3px #ff4da6, 0 0 2px white, 0 0 1px white,
  }
}