@media screen and (max-width: 320px) {
  *::-webkit-scrollbar { 
    width: 0 !important
  }
  * {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .mobileMenu {
    display: block;
    letter-spacing: 0.4vw;
  }
  .sidebarMenu {
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .sidebar + .views {
    display: none;
  }
  .sidebar_nav {
    text-align: center;
    top: 30vh;
  }
  .sidebarLinkWrapper {
    margin: 3vh 0 3vh;
    padding: 2vh 3vw;
    width: 40vw;
    border: solid 1px white;
  }
  .sidebrLinkWrapper:hover {
    background: white;
    border: solid 1px black;
    color: black;
  }
  .sidebarLink {
    line-height: 2vh;
  }  

  .home-content {
    margin-top: 0;
  }

  .about-header {
    line-height: 4.5vh;
  }
  .about-body {
    top: 3rem;
    width: 100%;
    margin: 0 1vw;
  }

}