.aboutBody-text {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding: 2vw;
  text-align: left;
}
.aboutBody-text h5 {
  font-family: Moon-Regular;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2.5vw;
}
.aboutBody-text h5:after {
  content: '';
  display: block;
  margin: 0 auto;
  border-bottom: solid 1px red;
  width: 75%;
}
.bolder {
  font-family: Moon-Light;
  font-weight: bolder;
  letter-spacing: 0.1vw;
  color: #FFE8E8
}
.technologyBolder {
  font-family: Moon-Light;
  font-weight: bolder;
  letter-spacing: 0.1vw;
  color: #D2FFFF;
}

.aboutBody-text p {
  margin-bottom: 0.75vw;
}
.aboutBody-text p:last-child {
  text-align: center;
  font-weight: 50;
  font-size: 1.5vw;
  margin-top: 3vw;
}
.aboutBody-text p:last-child:before {
  content: '';
  display: block;
  border-top: 3px solid white;
  margin: 0 auto;
}
.aboutBody-text p:last-child:after {
  content: '';
  display: block;
  border-bottom: 2px solid white;
  margin: 0 auto;
  width: 40vw;
}