.aboutBody-title {
  text-align: left;
  position: relative;
  left: -4rem;
}
.aboutBody-title p {
  font-family: Moon-Regular;
  font-size: 4rem;
  font-size: 4vw;
  color: #fff;
}
.aboutBody-title p:nth-child(2) {
  padding-left: 3rem;
  padding-left: 3vw;
}

#aboutBody_span{
  display: block;
  font-size: 15vw;
}

.aboutBody-mainText {
  margin-top: 5%;
  line-height: 2rem;
  text-align: left;
}