.linkbar {
  position: relative;
  z-index: 100;
  /* bottom: 4vw; */
}
.linkbar-container {
  margin: 0;
  padding: 0 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}
.linkbar-container:after {
  content: '';
  display: block;
  margin: 0 auto;
  border-bottom: solid 2px white;
  width: 100%;
  margin-top: 2vw;
}
.mediaLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vh;
}
.icon:before {
  content: '';
  display: block;
  width: 4vw;
  height: 4vw;
}
 #github {
  background: url('../../assets/icons/Github.png');
  background-size: contain;
  background-repeat: no-repeat;
    
}
 #instagram{
  background: url('../../assets/icons/instagram.png');
  background-size: contain;
  background-repeat: no-repeat;

}
 #linkedin {
  background: url('../../assets/icons/linkedin.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon:hover {
  cursor: pointer;
  -webkit-animation: spin 1s ease normal;
          animation: spin 1s ease normal;
}
@keyframes spin {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);}}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg); } 100% {-webkit-transform: rotate(-360deg); }}

.selectedLinkWrapper {
  margin-bottom: 4vw;
  padding-bottom: 2.5vw;
  border-bottom: solid 2px white;
}
#selectedLink {
  text-transform: uppercase;
  height: 2vw;  
  font-size: 2vw;
  font-family: Moon-Regular;
  letter-spacing: 0.5vw;
}
.fadeTextIn {
  -webkit-animation: fadeIn 2s linear forwards;
          animation: fadeIn 2s linear forwards;
}
.fadeTextOut {
  -webkit-animation: fadeOut 500ms linear forwards;
          animation: fadeOut 500ms linear forwards;
}