.linkbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon {
  float: left;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
.icon:before {
  content: '';
  display: block;
  width: 4em;
  height: 4em;
  float: left;
  margin-right: 6px;
  
}
.icon:first-child {
  background: url('../../assets/icons/Github.png');
  background-size: contain;
  background-repeat: no-repeat;
    
}
.icon:nth-child(2) {
  background: url('../../assets/icons/linkedin.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.icon:nth-child(3) {
  background: url('../../assets/icons/instagram.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon:hover {
  cursor: pointer;
  -webkit-animation: spin 1s ease normal;
          animation: spin 1s ease normal;
}
@keyframes spin {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);}}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg); } 100% {-webkit-transform: rotate(-360deg); }}