.languageIconWrapper {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.languageIconWrapper h6 {
  text-transform: uppercase;
}
.languageIcon {
  margin: 0.3rem 0.3rem;
  width: 7rem;
  width: 7vw;
  -webkit-animation: pulse 2s linear infinite;
          animation: pulse 2s linear infinite;
  position: relative;
  z-index: 10;
}
.languageIcon:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.languageIcon:nth-child(2) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.languageIcon:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}