.about-wrapper {
  justify-content: center;
  align-items: center;
}
.aboutHeader h1{
  font-size: 8vw;
}
.aboutBody-container {
  margin: 20vw 0 4vw;
  box-shadow: 0px 10px 40px #c5c5c5;
  display: grid;
  border-radius: 2vw;
  justify-items: center;
  text-align: center;
  position: relative;
}
.bodyIntro {
  display: grid;
  grid-template-columns: 23vw 35vw 23vw;
}
.introWord {
  margin-top: 10vw;
}
.introWord h3 {
  font-size: 13vw;
  font-family: Moon-light;
}
.introPicture {
  color: white;
  padding-bottom:1vw;
  display: flex;
  justify-content: center;
}
.picture-wrapper{
  position: relative;
  top: -11.5vw;
  align-self: center;
  z-index: 10;
}
.textAnimation {
  border-bottom: solid 2px #c5c5c5;
  text-align: center;
  position: relative;
  top: -1vw;
}
.textAnimation p {
  font-size: 6vw;
  color: white;
  font-family: Moon-light;
  letter-spacing: 1vw;
  text-transform: uppercase;
  
}

.bodyContent {
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  margin-top: 3vw;
}

.bodyContentGreeting {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around
}

.portlandText {
  line-height: 25vh;
  letter-spacing: -10px;
  -webkit-animation: hideCity 2.2s ease 0s;
  animation: hideCity 2.2s ease 0s;
  background-image: none;
  text-align: center;
}

.portlandText:hover {
  cursor: pointer;
  -webkit-animation: showCity 2s ease 0s ; /* Safari 4+ */
  -moz-aanimation: showCity 2s ease 0s ; /* Fx 5+ *//* Opera 12+ */
  animation: showCity 2s ease 0s ; 
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-text-fill-color: transparent;
  background: url('../../assets/images/pland.png');
  -webkit-background-clip: text;
  background-clip: text;
}

.body {
  display: grid;
  grid-template-columns: 33% 66%;
  margin: 2vw;
}

.bodyLinks {
  margin: 2vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-self: stretch;
  background-color: #36312E;
  height: 100%;
}

