.contactForm-body {
  animation: showForm 1s linear forwards;
  margin-top: 2vw;
  margin-bottom: 9vw;
  padding: 1vw 0 3vw 0;
  display: flex;
  justify-content: center;
}

.contactForm {
  background: #49494B;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.18);
  border-radius: 1vw;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 2.25vw;
  padding: 2vw;
  text-align: justify;
  flex-grow: 0.3;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}
.form-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.form-col:first-child {
  padding-right: 1vw;

}
.form-row:first-child{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-row label {
  display: block;
  margin-bottom: 1vw;
}
.form-row input[type='email'],
.form-row input[type='text'] {
  box-sizing: border-box;
  background-color: #c5c5c5;
  color: black;
  border: none;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 3vw;
  width: 100%;
  padding: 1vw;
  outline: none;
  margin-bottom: 1.5vw;
  margin-right: 2vw;
}
.form-row textarea {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  color: black;
  border-radius: 1vw;
  background-color: #c5c5c5;
  min-height: 30vh;
  padding: 1vw;
  resize: none;
  outline: none;
  margin-bottom: 1.5vw;
}

.contactForm-Input {
  display: flex;
  flex-flow: column nowrap;
}