.contactForm-body {
  -webkit-animation: showForm 1s linear forwards;
          animation: showForm 1s linear forwards;
  margin-top: 2vw;
  margin-bottom: 9vw;
  padding: 1vw 0 3vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-left: 2.25vw;
  padding: 2vw;
  text-align: justify;
  -webkit-box-flex: 0.3;
      -ms-flex-positive: 0.3;
          flex-grow: 0.3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.shieldsup {
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  height:0;
  width:0;
  z-index: -1;
}

.hide {
  display: none;
}

.formInput {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 2vw;
  text-align: center;
}
#messageWrapper .formInput {
  -ms-grid-rows: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.formInput:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: solid 2px #c5c5c5;
}

.contactFormLabel {
  font-size: 2.5vw;
  margin-bottom: 1.5vw;
}
.formNavigationButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 75vw;
}
