.sidebar_nav {
  position: fixed;
  margin: 0 15%;
  text-align: left;
  margin: 0;
  top: 40vh;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobileMenu, .mobileCloseButton {
  display:none;
}
.active {
  color: #fff;
}

.sidebarLink {
  display: block;
  font-family: Moon-Light;
  font-size: 3vw;
  text-transform: uppercase;
  line-height: 11vh;
  color: #C5C5C5;
  text-decoration: none;
  -webkit-animation-name: shrink;
          animation-name: shrink;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.sidebarLink:hover {
  cursor: pointer;
  color: #fff;
  font-size: 3.5vw;
  -webkit-animation-name: enlarge;
          animation-name: enlarge;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  letter-spacing: 0.4vw;
  font-weight: bold;
}