.repoMenu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  position: relative;

}
.repoMenu-wrapper h3 {
  text-align: center;
  margin: 0 1vw 0 1vw;
  padding-bottom: 1vw;
  border-bottom: solid 2px white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 2rem;

}


.repoMenu {
  height: 100vh;
  overflow: scroll;
}

.repoMenu-item {
  display: flex;
  flex-flow: column nowrap;
  padding: 1vw 1vw 1.5vw 2vw;
  border-bottom: solid 1px #c5c5c5;
  border-right: solid 1px #c5c5c5;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.repoMenu-item p {
  margin-bottom: 0.5rem;
  margin-bottom: 0.5vw;
}

.item-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.item-header p:first-child {
  font-size: 2rem;
  font-size: 2vw;
}
.item-header p:nth-child(2) {
  text-align: right;
  font-size: 1.75rem;
  font-size: 1.75vw;
}
span {
  font-size: 1.25vw;
}
.item-footer {
  margin: 1vw 0 1vw;
  display: flex;
  height: 7vw;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
}
.item-footer p {
  font-size: 1.25rem;
  font-size: 1.25vw;
}

.github-btn {
  height: fit-content;
  background: transparent;
  font-family: Moon-regular;
  color: #c5c5c5;
  font-size: 2vw;
  margin-top: 3.25rem;
  margin-top: 3.25vw;
}
.github-btn:hover {
  cursor: pointer;
  background: #c5c5c5;
  color: #252423;
  -webkit-transition: ease-out 0.4s;
  -o-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}