.home-view {
  background: url('../../assets/images/HomeBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}
.sidebar + .home-container {
  margin-left: 25%;
}

.home-header {
  
  
}

.home-content {
  margin: 10% 0 10% 0;
}

.home-content h3 {
  font-family: Eudora;
  font-size: 7vw;
}
.home-content h4 {
  font-family: Eudora;
  font-size: 5vw;
}

.titleLetter {
  font-family: Olegos;
  font-size: 8rem;
}