.App {
  text-align: center;
}

.menu_icon {
  z-index: 100;
  width: 12%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5% 1%;
  opacity: 0.65;
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
.menu_icon:hover{
  border: solid 1px red;
  box-shadow: 2px 2px 2px #fff;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.sidebar {
  width: 25%;
  z-index: 100;
  position: absolute;
  top: 17rem;
  
}

.views {
  width: 100%;
  border: solid 1px green;
  display: absolute;
}

